<div class="max-w-lg mx-auto">
  <h2 class="mb-8 text-h2">Forgot your password?</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-8 field">
      <%= f.label :email, class: 'font-bold block mb-1' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full h-12 p-4 bg-jb-gray-dk-blue bg-opacity-10' %>
    </div>

    <div class="actions">
      <button type="submit" class="btn btn-secondary">Send me reset password instructions</button>
    </div>
  <% end %>

  <div class="mt-6">
    <%= render "devise/shared/links" %>
  </div>

</div>