<%= form_with(model: project, local: true) do |form| %>
  <div class="grid lg:gap-12 lg:grid-cols-3">
    <div class="lg:col-span-2">
      <% if project.errors.any? %>
        <div id="error_explanation" class="p-6 mb-12 space-y-6 border border-red-600">
          <h2 class="text-h3"><span class="text-red-500"><%= pluralize(project.errors.count, "error") %></span> prohibited this project from being saved:</h2>

          <ul class="grid mb-2 lg:grid-cols-2">
            <% project.errors.full_messages.each do |message| %>
              <li class="py-2 border-b"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h2 class="mb-8 text-h3">Project Details</h2>
      <div class="p-4 mb-20 border bg-gray-50">
        <div class="grid gap-8 mb-8 lg:grid-cols-2">
          <div class="field">
            <%= form.label :title, class: 'font-bold mb-2 block text-sm' %>
            <%= form.text_field :title, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 h-12 px-4 w-full' %>
          </div>

          <div class="field">
            <%= form.label :project_url, class: 'font-bold mb-2 block text-sm' %>
            <%= form.text_field :project_url, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 h-12 px-4 w-full' %>
          </div>

          <div class="field">
            <%= form.label :role_in_project, class: 'font-bold mb-2 block text-sm' %>
            <%= form.text_field :role_in_project, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 h-12 px-4 w-full' %>
          </div>
          <div class="field">
            <%= form.label :project_tech_stack, class: 'font-bold mb-2 block text-sm' %>
            <%= form.text_field :project_tech_stack, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 h-12 px-4 w-full' %>
          </div>
        </div>
        <div class="grid gap-8">
          <div class="max-w-full overflow-x-auto field">
            <%= form.label :short_description, class: 'font-bold mb-2 block text-sm' %>
            <%= form.rich_text_area :short_description, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 min-h-48 p-4 w-full' %>
          </div>

          <div class="max-w-full overflow-x-auto field">
            <%= form.label :long_description, class: 'font-bold mb-2 block text-sm' %>
            <%= form.rich_text_area :long_description, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 min-h-16 p-4 w-full' %>
          </div>
        </div>
      </div>

      <div class="p-4 mb-20 border bg-gray-50"  x-data="{imageHero: '<%=  project.image %>'}">
        <h2 class="mb-8 text-h3">Hero Image</h2>
        
        <div class="grid gap-8 lg:grid-cols-3">
          <div class="col-span-1 bg-gray-100">
            <img x-show="imageHero" :src="imageHero" class="w-full mb-4">
          </div>
          <div class="col-span-2 space-y-4">
            <div class="">
              <%= form.label :image_mobile, 'Mobile', class: 'font-bold mb-2 block text-sm' %>
              <%= form.text_field :image_mobile, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 h-12 px-4 w-full' %>
            </div>
            <div>
              <%= form.label :image_tablet, 'Tablet', class: 'font-bold mb-2 block text-sm' %>
              <%= form.text_field :image_tablet, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 h-12 px-4 w-full' %>
            </div>
            <div>
              <%= form.label :image, 'Desktop', class: 'font-bold mb-2 block text-sm' %>
              <%= form.text_field :image, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 h-12 px-4 w-full' %>
            </div>
          </div>
        </div>
      </div>



      <div>
        <h2 class="mb-8 text-h3">Thumbnail Images</h2>
        <div class="grid gap-8 mb-8">
          <div class="p-4 space-y-8 border bg-gray-50" x-data="{imageOne: '<%=  project.thumbnail_one %>'}">
            <h2 class="text-lg font-bold">Main</h2>
            <div class="grid gap-8 lg:grid-cols-3">
              <div  class="col-span-1 bg-gray-100">
                <img x-show="imageOne" :src="imageOne">
              </div>
              
              <div class="col-span-2 space-y-4">
                <div class="field">
                  <%= form.label :thumbnail_one_mobile, 'Mobile', class: 'font-bold mb-2 block text-sm' %>
                  <%= form.text_field :thumbnail_one_mobile, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 h-12 px-4 w-full' %>
                </div>
                <div class="field">
                  <%= form.label :thumbnail_one_tablet, 'Tablet', class: 'font-bold mb-2 block text-sm' %>
                  <%= form.text_field :thumbnail_one_tablet, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 h-12 px-4 w-full' %>
                </div>
                <div class="field">
                  <%= form.label :thumbnail_one, 'Desktop', class: 'font-bold mb-2 block text-sm' %>
                  <%= form.text_field :thumbnail_one, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 h-12 px-4 w-full' %>
                </div>
              </div>
            </div>
          </div>

          <div class="p-4 space-y-8 border bg-gray-50" x-data="{imageTwo: '<%=  project.thumbnail_two %>'}">

            <h2 class="text-lg font-bold">Thumbnail Two</h2>
            <div class="grid gap-8 lg:grid-cols-3">
              <div  class="col-span-1 bg-gray-100">
                <img x-show="imageTwo" :src="imageTwo">
              </div>
              
              <div class="col-span-2 space-y-4">
                <div class="field">
                  <%= form.label :thumbnail_two_mobile, 'Mobile', class: 'font-bold mb-2 block text-sm' %>
                  <%= form.text_field :thumbnail_two_mobile, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 h-12 px-4 w-full' %>
                </div>
                <div class="field">
                  <%= form.label :thumbnail_two_tablet, 'Tablet', class: 'font-bold mb-2 block text-sm' %>
                  <%= form.text_field :thumbnail_two_tablet, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 h-12 px-4 w-full' %>
                </div>
                <div class="field">
                  <%= form.label :thumbnail_two, 'Desktop', class: 'font-bold mb-2 block text-sm' %>
                  <%= form.text_field :thumbnail_two, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 h-12 px-4 w-full' %>
                </div>
              </div>
            </div>
          </div>

          <div class="p-4 space-y-8 border bg-gray-50" x-data="{imageThree: '<%=  project.thumbnail_three %>'}">
            <h2 class="text-lg font-bold">Thumbnail Three</h2>
            <div class="grid gap-8 lg:grid-cols-3">
              <div class="col-span-1 bg-gray-100">
                <img x-show="imageThree" :src="imageThree">
              </div>
              <div class="col-span-2 space-y-4">
                <div class="field">
                  <%= form.label :thumbnail_three_mobile, 'Mobile', class: 'font-bold mb-2 block text-sm' %>
                  <%= form.text_field :thumbnail_three_mobile, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 h-12 px-4 w-full' %>
                </div>
                    <div class="field">
                  <%= form.label :thumbnail_three_tablet, 'Tablet', class: 'font-bold mb-2 block text-sm' %>
                  <%= form.text_field :thumbnail_three_tablet, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 h-12 px-4 w-full' %>
                </div>
                <div class="field">
                  <%= form.label :thumbnail_three, 'Desktop', class: 'font-bold mb-2 block text-sm' %>
                  <%= form.text_field :thumbnail_three, class: 'bg-white appearance-none border border-jb-gray-dk-blue border-opacity-20 h-12 px-4 w-full' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:col-span-1">
      <div class="space-y-2 lg:sticky actions lg:top-12">
        <button type="submit" class="w-full btn btn-secondary">Submit</button>
        <div class="flex space-x-2">
          <%= link_to 'Show', @project, class: 'btn btn-primary flex-grow' %>
          <%= link_to 'Back', projects_path, class: 'btn btn-primary flex-grow' %>
        </div>
      </div>
    </div>
</div>
<% end %>
