<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation" class="p-6 mb-12 space-y-6 border border-red-600">
      <h2 class="text-h3"><span class="text-red-500"><%= pluralize(project.errors.count, "error") %></span> prohibited this project from being saved:</h2>

      <ul class="grid mb-2 lg:grid-cols-2">
        <% project.errors.full_messages.each do |message| %>
          <li class="py-2 border-b"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-8 field">
    <%= form.label :title, class: 'font-bold mb-2 block text-sm' %>
    <%= form.text_field :title, class: 'bg-jb-gray-dk-blue h-12 px-4 w-full bg-opacity-10' %>
  </div>

  <div class="grid gap-8 mb-8 lg:grid-cols-2">
    <div class="field">
      <%= form.label :short_description, class: 'font-bold mb-2 block text-sm' %>
      <%= form.text_area :short_description, class: 'bg-jb-gray-dk-blue h-48 p-4 w-full bg-opacity-10' %>
    </div>

    <div class="field">
      <%= form.label :long_description, class: 'font-bold mb-2 block text-sm' %>
      <%= form.text_area :long_description, class: 'bg-jb-gray-dk-blue h-48 p-4 w-full bg-opacity-10' %>
    </div>
  </div>

  <div class="grid gap-8 mb-8 lg:grid-cols-3">
    <div class="field">
      <%= form.label :thumbnail_one, class: 'font-bold mb-2 block text-sm' %>
      <%= form.text_field :thumbnail_one, class: 'bg-jb-gray-dk-blue h-12 px-4 w-full bg-opacity-10' %>
    </div>

    <div class="field">
      <%= form.label :thumbnail_two, class: 'font-bold mb-2 block text-sm' %>
      <%= form.text_field :thumbnail_two, class: 'bg-jb-gray-dk-blue h-12 px-4 w-full bg-opacity-10' %>
    </div>

    <div class="field">
      <%= form.label :thumbnail_three, class: 'font-bold mb-2 block text-sm' %>
      <%= form.text_field :thumbnail_three, class: 'bg-jb-gray-dk-blue h-12 px-4 w-full bg-opacity-10' %>
    </div>
  </div>

  <div class="mb-8 field">
    <%= form.label :image, class: 'font-bold mb-2 block text-sm' %>
    <%= form.text_field :image, class: 'bg-jb-gray-dk-blue h-12 px-4 w-full bg-opacity-10' %>
  </div>

  <div class="mb-8 field">
    <%= form.label :project_url, class: 'font-bold mb-2 block text-sm' %>
    <%= form.text_field :project_url, class: 'bg-jb-gray-dk-blue h-12 px-4 w-full bg-opacity-10' %>
  </div>

  <div class="mb-8 field">
    <%= form.label :role_in_project, class: 'font-bold mb-2 block text-sm' %>
    <%= form.text_field :role_in_project, class: 'bg-jb-gray-dk-blue h-12 px-4 w-full bg-opacity-10' %>
  </div>

  <div class="mb-8 field">
    <%= form.label :project_tech_stack, class: 'font-bold mb-2 block text-sm' %>
    <%= form.text_field :project_tech_stack, class: 'bg-jb-gray-dk-blue h-12 px-4 w-full bg-opacity-10' %>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
