<% provide(:title, "Portfolio") %>
<% provide(:description, 'Briley Creative Web design and development portfolio') %>

<div class="w-full px-4 py-4 pb-24 mx-auto space-y-24 max-w-7xl lg:px-0 lg:space-y-32">
  <% @projects.each.with_index do |project, i| %>
    <div class="grid gap-8 md:grid-cols-2 md:pb-0">
      <div class="flex items-center <% if i.even? %>md:order-0<%else%>md:order-1<%end%>">
        <img src="<%= project.thumbnail_one %>" alt="">
      </div>
      <div class="md:px-12 <% if i.even? %>md:order-1<%else%>md:order-0<%end%>">
        <div class="flex items-center h-full py-6 border-t border-b">
            <div>
              <h2 class="mb-4 text-h2">
                <%= project.title %>
              </h2>
              <p class="mb-4 text-body-1">
                <%= project.short_description %>
              </p>
              <div class="mb-4">
                <%= link_to 'View Project', project , class: 'btn btn-secondary' %>
                <% if current_user %>
                <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-secondary' %> 
                <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary' %>
                <% end %>
              </div>
            </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= render '/shared/pitch' %>
  <% if current_user %>
  <%= link_to 'New Project', new_project_path, class: 'btn btn-secondary' %>
  <% end %>
</div>