<% provide(:title, "#{@project.title} Project Details") %>
<% provide(:description, 'Briley Creative Web design and development portfolio') %>
<div class="w-full px-4 pb-16 mx-auto space-y-12 max-w-7xl lg:px-0 lg:space-y-32 lg:pb-32">
  <img src="<%= @project.image %>"  alt="" class="w-full">

  <div class="grid gap-10 lg:grid-cols-3 lg:gap-20">
    <div class="py-8 border-t border-b md:border-b-0 md:col-span-1">
      <div class="lg:sticky lg:top-8">
        <div>
        <h1 class="mb-6 text-h1"><%= @project.title %></h1>
        <div class="mb-12 text-body-1 text-jb-gray-dk-blue "><%= @project.short_description %></div>
      </div>
      <div class="mb-6 space-y-4 text-sm font-bold text-jb-cyan" >
        <p><%= @project.role_in_project %></p>
        <p><%= @project.project_tech_stack %></p>
      </div>
      <a href="<%= @project.project_url %>" class="btn btn-primary" target="_blank" rel="noreferrer">Visit Website</a>
      </div>
    </div>

    <div class="md:col-span-2">
       <div class="mb-10">
        <h2 class="mb-8 text-h3">Project Background</h2>
        <div class="text-body-1"><%= @project.long_description %></div>
      </div>
      
      <div class="space-y-10">
        <h3 class="text-h3">Static Preview</h3>
        <div class="space-y-8">
          <img src="<%= @project.thumbnail_one %>" alt="Project thumbnail" class="w-full">
          <img src="<%= @project.thumbnail_two %>" alt="Project thumbnail" class="w-full">
        </div>
      </div>


      <div class="mt-10">
        <% if current_user && current_user.admin %>
        <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
        <% end %>
        <%= link_to 'Back', projects_path, class: 'btn btn-primary' %>
        
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 border-t border-b divide-x">
    <div class="py-6">
      <% unless @project.id == Project.first.id  %>
        <div class="flex items-center space-x-2">
          <%= heroicon "chevron-left", options: { class: "h-8 w-8 opacity-50" } %> 
          <div>
            <p class="font-serif text-2xl lg:text-3xl">            
              <%= link_to Project.get_previous_project(@project).title, Project.get_previous_project(@project)  %>
            </p>
            <span class="text-sm opacity-50">Previous Project</span> 
          </div>
        </div>
      <% end %>
    </div>
    <div class="flex flex-col py-6">
      <% unless  @project.id == Project.last.id   %>
        <div class="flex items-center justify-end space-x-2 text-right">
          <div>
            <p class="font-serif text-2xl lg:text-3xl">  
              <%= link_to  Project.get_next_project(@project).title, Project.get_next_project(@project) %>
            </p>
            <span class="text-sm opacity-50">Next Project</span> 
          </div>  
          <%= heroicon "chevron-right", options: { class: "h-8 w-8 opacity-50" } %>       
        </div>
      <% end %>
    </div>
  </div>
  <%= render '/shared/pitch' %>
</div>